.button-sort {
  /* position: relative; */
  padding: 0;
  margin-right: 15px;
  border: none;
  background-color: transparent;
}
.button-sort:active, .button-sort:focus {
  outline: none;
}
i {
font-family: fontawesome !important;
line-height: 1;
font-style: normal;
}
.button-sort i {
  color: rgba(0, 0, 0, 0.5);
} 
.button-sort:hover i {
  color: rgba(0, 0, 0, 0.8);
}
.button-sort:active i {
  color: tomato;
}
i.active-sort {
  color: tomato;
}
i.not-active-sort {
  color: transparent;
}
